h1, h2 {
	font-family: 'Arimo', sans-serif;
}

.jumbotron {
	background-color: transparent;
	border-style: none;
}

.container {
	background-color: transparent;
	border-style: none;
}

.card {
	background-color: transparent;
	border-style: none;
}

.card-body {
	border-style: none;
}

.card-text {
	border-style: none;
}

.list-group-item {
	border-style: none;
}

