h1   {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.jumbotron {
	background-color: transparent;
}

ul {
	border-left: medium solid #ffebcc;
	list-style-type: circle;
}


