h1, h2 {
	font-family: 'Open Sans', sans-serif;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.jumbotron {
	background-color: transparent;
}

.container {
	background-color: transparent;
	border-style: solid;
	border-color: #ffebcc;
}

